[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-wtf = "*"
wtforms-components = "*"
flask-script = "*"
python-dotenv = "*"
pillow = "*"
coverage = "==4.5.1"

[dev-packages]

[requires]
python_version = "3.6"
